*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
nav,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: hsl(236, 20%, 12%);
  color: #edf2f4;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.05rem;
  font-weight: 300;
  color: #edf2f4;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.kp-layout-section {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  z-index: 1;
  position: relative;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem 0 4rem;
}

.kp-layout-about {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.kp-layout-nav {
  margin-right: 0.75rem;
}
.kp-layout-nav * {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.kp-layout-two-column {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  justify-items: left;
  align-items: center;
}

.kp-layout-work-container > * {
  margin-bottom: 8rem;
}

.kp-layout-skills {
  display: flex;
  flex-wrap: wrap;
}
.kp-layout-skills > * {
  padding: 0 0.75rem;
  margin-top: 0.75rem;
  margin-right: 0.75rem;
}

.kp-layout-header {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: sticky;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 100px;
}
.kp-layout-header div {
  display: flex;
  align-items: center;
}

.kp-layout-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
}

.kp-layout-scroll-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  height: 100%;
  width: 25%;
  gap: 0.5rem;
}
.kp-layout-scroll-line div {
  width: 1px;
  flex: 1;
}

.kp-layout-line {
  display: flex;
  width: 100%;
  justify-content: center;
}

.kp-layout-footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 4rem;
  bottom: 0;
}

@media (max-width: 700px) {
  .kp-layout-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .kp-layout-two-column {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    margin-bottom: 8rem;
    row-gap: 3rem;
  }
  .kp-layout-header {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .kp-layout-nav > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .kp-layout-nav {
    margin-right: 0.5rem;
  }
  .kp-layout-footer {
    left: 1rem;
  }
}
.kp-header {
  font-size: 1.25rem;
  background-color: hsl(236, 20%, 12%);
  z-index: 10;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hide {
  top: -100px;
  box-shadow: none;
}

.shadow {
  box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.5);
}

.kp-footer {
  z-index: 10;
}
.kp-footer a:hover {
  color: #edf2f4;
  transform: scale(1.1);
  transform: translate(0px, -3px);
  cursor: pointer;
}
.kp-footer > * {
  color: #8d99ae;
  transition: all 0.1s ease-in-out;
}

a.kp-text-link {
  background-image: linear-gradient(#ffcc00, #ffcc00), linear-gradient(#8d99ae, #8d99ae);
  background-size: 0% 100%, 100% 0.1em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.1s ease-out;
  color: #8d99ae;
}
a.kp-text-link:hover, a.kp-text-link:focus, a.kp-text-link:active {
  background-size: 100% 100%, 100% 0.1em;
  color: hsl(236, 20%, 12%);
  cursor: pointer;
}

.kp-nav-link {
  transition: all 0.1s ease-out;
  color: #8d99ae;
}
.kp-nav-link:hover, .kp-nav-link:focus, .kp-nav-link:active {
  color: #edf2f4;
  cursor: pointer;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

hr {
  border: none;
  height: 2px;
  margin-top: 0;
  background-color: hsl(236, 20%, 8%); /* Modern Browsers */
}

figcaption {
  font-size: 0.875rem;
  font-style: italic;
}

.kp-hero-description {
  font-size: 1.05rem;
}
.kp-hero-description * {
  margin-top: 1.25rem;
}
.kp-hero-description b:first-child {
  font-size: 2rem;
}

.kp-text-subdued {
  color: #8d99ae;
}

.kp-text-skills-container * {
  color: #8d99ae;
  font-size: 0.875rem;
  background-color: hsl(236, 20%, 8%);
  border: hsl(236, 20%, 8%) 2px solid;
  border-radius: 50px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.05rem;
  }
  a {
    font-size: 0.875rem;
  }
  p {
    font-size: 0.875rem;
  }
  .kp-hero-description {
    font-size: 1.05rem;
  }
  .kp-hero-description * {
    margin-top: 1.25rem;
  }
  .kp-hero-description b:first-child {
    font-size: 1.25rem;
  }
}
.kp-scroll {
  text-orientation: upright;
  color: #8d99ae;
  font-weight: 300;
}
.kp-scroll div {
  background-color: #8d99ae;
}

.kp-line {
  height: 50px;
  width: 2px;
  color: white;
  background-color: #8d99ae;
}

.kp-btn-resume {
  border: 1px solid #ffcc00;
  padding: 0.5rem 0.75rem;
  color: #ffcc00;
  background-color: transparent;
  background-image: linear-gradient(#ffcc00, #ffcc00);
  background-size: 0% 100%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.1s ease-out;
}
.kp-btn-resume:hover {
  background-size: 100% 100%;
  color: hsl(236, 20%, 12%);
  cursor: pointer;
}

.kp-form-container {
  max-width: 50%;
}

.kp-form-field * {
  width: 100%;
  resize: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

@media (max-width: 700px) {
  .kp-form-container {
    max-width: 100%;
  }
}
.kp-stack-4 {
  margin-bottom: 0.25rem;
}

.kp-stack-8 {
  margin-bottom: 0.5rem;
}

.kp-stack-12 {
  margin-bottom: 0.75rem;
}

.kp-stack-16 {
  margin-bottom: 1rem;
}

.kp-stack-24 {
  margin-bottom: 1.5rem;
}

.kp-stack-32 {
  margin-bottom: 2rem;
}

.kp-stack-48 {
  margin-bottom: 3rem;
}

.kp-stack-64 {
  margin-bottom: 4rem;
}

.kp-stack-128 {
  margin-bottom: 8rem;
}

.kp-flow > :not(:last-child):not([class*=kp-stack]) {
  margin-bottom: 1.5rem;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.kp-img-container-fluid {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 300px;
  position: relative;
}

.fade-in {
  animation: fadeIn 0.75s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=kp.css.map */