.kp-layout-default {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}

.kp-layout-content {
  display: flex;

  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}

.kp-layout-header {
  display: flex;

  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}

.kp-layout-footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.kp-header-buttons {
  display: flex;
  p {
    margin-left: $spacing-8;
  }
}
