.kp-layout-section {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  z-index: 1;
  position: relative;
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $spacing-32 0 $spacing-64;
}
.kp-layout-about {
  padding-top: $spacing-64;
  padding-bottom: $spacing-64;
}

.kp-layout-nav {
  margin-right: $spacing-12;

  * {
    margin-left: $spacing-12;
    margin-right: $spacing-12;
  }
}

.kp-layout-two-column {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  justify-items: left;
  align-items: center;
}

.kp-layout-work-container {
  & > * {
    margin-bottom: $spacing-128;
  }
}
.kp-layout-skills {
  display: flex;
  flex-wrap: wrap;

  & > * {
    padding: 0 $spacing-12;
    margin-top: $spacing-12;
    margin-right: $spacing-12;
  }
}

.kp-layout-header {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: sticky;
  top: 0px;

  margin-left: auto;
  margin-right: auto;
  padding-top: $spacing-32;
  padding-bottom: $spacing-32;
  padding-left: $spacing-48;
  padding-right: $spacing-48;

  min-height: 100px;
  div {
    display: flex;
    align-items: center;
  }
}

.kp-layout-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
}

.kp-layout-scroll-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  height: 100%;
  width: 25%;
  gap: $spacing-8;

  div {
    width: 1px;
    flex: 1;
  }
}

.kp-layout-line {
  display: flex;
  width: 100%;
  justify-content: center;
}
.kp-layout-footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: $spacing-64;
  bottom: 0;
}

@media (max-width: $breakpoint-medium) {
  .kp-layout-section {
    padding-left: $spacing-48;
    padding-right: $spacing-48;
  }

  .kp-layout-two-column {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    margin-bottom: $spacing-128;
    row-gap: $spacing-48;
  }

  .kp-layout-header {
    padding-left: $spacing-12;
    padding-right: $spacing-12;
  }

  .kp-layout-nav > * {
    margin-left: $spacing-8;
    margin-right: $spacing-8;
  }

  .kp-layout-nav {
    margin-right: $spacing-8;
  }

  .kp-layout-footer {
    left: $spacing-16;
  }
}
