.kp-layout-default {
}

.kp-layout-section {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  z-index: 1;
  position: relative;
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-48;
  padding-right: $spacing-48;
}

.kp-layout-two-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: left;
  margin-bottom: $spacing-64;
}

.kp-layout-header {
  display: flex;
  direction: row;
  padding-top: $spacing-32;
  padding-bottom: $spacing-32;

  padding-left: $spacing-48;
  padding-right: $spacing-48;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;

  min-height: 100px;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  position: sticky;
  top: 0px;
  div {
    display: flex;
    align-items: center;
  }
}

.hide {
  top: -100px;
}

.show {
  box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.5);
}

.kp-layout-hero {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
}
.kp-layout-scroll-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  height: 100%;
  width: 25%;
  gap: $spacing-8;

  div {
    width: 1px;
    flex: 1;
  }
}

.kp-layout-header > * {
  margin-left: $spacing-8;
}

.kp-layout-footer {
  grid-column: span 2;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media (max-width: $breakpoint-medium) {
  .kp-layout-default {
    display: flex;
    flex-direction: column;
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-48;
    padding-right: $spacing-48;
  }
}
