.kp-form-container {
  max-width: 50%;
}

.kp-form-field * {
  width: 100%;
  resize: none;
  margin-top: $spacing-8;
  margin-bottom: $spacing-8;
  padding: $spacing-8;
}

@media (max-width: $breakpoint-medium) {
  .kp-form-container {
    max-width: 100%;
  }
}
