a {
  background-image: linear-gradient($color-accent, $color-accent),
    linear-gradient($color-text-subdued, $color-text-subdued);
  background-size: 0% 100%, 100% 0.1em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.1s ease-out;
  color: $color-text-subdued;
}

a:hover,
a:focus,
a:active {
  background-size: 100% 100%, 100% 0.1em;
  color: $color-text-inverse;
  cursor: pointer;
}
