.kp-scroll {
  text-orientation: upright;
  color: $color-text-subdued;
  font-weight: $font-weight-light;
  div {
    background-color: $color-text-subdued;
  }
}

.kp-line {
  height: 50px;
  width: 2px;
  color: white;
  background-color: $color-text-subdued;
}
