h1 {
  font-size: $font-size-largest;
  font-weight: $font-weight-semibold;
}

h2 {
  font-size: $font-size-larger;
}

h3 {
  font-size: $font-size-large;
}

.kp-hero-description {
  font-size: $font-size-large;
  * {
    margin-top: $spacing-20;
  }

  b {
    &:first-child {
      font-size: $font-size-large;
    }
  }
}

.kp-text-subdued {
  color: $color-text-subdued;
}

@media (max-width: $breakpoint-medium) {
  h1 {
    font-size: $font-size-larger;
    font-weight: $font-weight-semibold;
  }

  h2 {
    font-size: $font-size-large;
  }

  h3 {
    font-size: $font-size-default;
  }

  a {
    font-size: $font-size-small;
  }

  .kp-hero-description {
    font-size: $font-size-default;

    * {
      margin-top: $spacing-20;
    }

    b {
      &:first-child {
        font-size: $font-size-large;
      }
    }
  }
}
