body {
  font-family: $font-family-body;
  font-size: $font-size-default;
}

h1 {
  font-family: $font-family-heading;
  font-size: $font-size-largester;
  font-weight: $font-weight-semibold;
  line-height: $line-height-largest;
}

h2 {
  font-family: $font-family-heading;
  font-size: $font-size-larger;
  font-weight: $font-weight-bold;
}

p {
  color: $color-text-subdued;
}
