$black: #2b2d42;
$white: #ffffff;
$gray-100: #edf2f4;
$gray-200: #8d99ae;
$red-300: #ef233c;

$font-size-small: 0.875rem;
$font-size-default: 1rem;
$font-size-large: 1.25rem;
$font-size-larger: 2rem;
$font-size-largest: 4rem;

$line-height-small: 1.25rem;
$line-height-default: 1.5rem;
$line-height-large: 1.5rem;
$line-height-larger: 2.25rem;
$line-height-largest: 4rem;

$font-weight-light: 300;
$font-weight-bold: 600;
$font-weight-semibold: 700;
$font-weight-boldest: 800;

$font-family-heading: "Karla", sans-serif;
$font-family-body: "Inconsolata", monospace;

$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-48: 3rem;
$spacing-64: 4rem;

$breakpoint-medium: 700px;
$page-max-width: 1080px;
$content-max-width: 70ch;

$color-text-body: $gray-100;
$color-text-subdued: $gray-200;
$color-text-inverse: $gray-100;

$color-background-body: $black;
